<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="org.fathens.cordova.acra"
    version="0.2.0">

    <name>ACRA Plugin</name>

    <description>
        Cordova Plugin for ACRA
    </description>

    <license>Apache 2.0</license>

    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <js-module name="ACRA_reporter" src="www/reporter.js">
        <clobbers target="plugin.acra" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <preference name="TOAST_TEXT" />
        <preference name="URL" />
        <preference name="USERNAME" />
        <preference name="PASSWORD" />

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="acra_toast_text">$TOAST_TEXT</string>
            <string name="acra_url">$URL</string>
            <string name="acra_username">$USERNAME</string>
            <string name="acra_password">$PASSWORD</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ACRA_reporter">
                <param name="android-package" value="org.fathens.cordova.acra.Reporter" />
            </feature>
        </config-file>

        <!-- cordova plugin src files -->
        <source-file
            src="platforms/android/src/org/fathens/cordova/acra/AcraApplication.java"
            target-dir="src/org/fathens/cordova/acra" />
        <source-file
            src="platforms/android/src/org/fathens/cordova/acra/Reporter.java"
            target-dir="src/org/fathens/cordova/acra" />

        <source-file src="platforms/android/libs/acra-4.5.0.jar"
            target-dir="libs" />

        <info>
            For completion of installation, you need to add the following attribute
            to `application` element.

            `android:name="org.fathens.cordova.acra.AcraApplication"`
        </info>
    </platform>
</plugin>
